.rating-container {
  position: absolute;
  right: 1rem;
  top: 3rem;

  background-color: #f5a626;
  padding: 0.6rem 1rem 1rem;
  border-radius: 4px;
  .value {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    b {
      font-size: 1.5rem;
      letter-spacing: 0.25rem;
    }
  }
  .text {
    color: #ffffff;
  }
}
//43AFD7
