@import "./css/variables";
@import "./css//breakpoints";
@include for-tablet-landscape-up {
  body {
    font-size: 12px;
  }
}
.container {
  padding: 3rem 0;
  > h2 {
    margin-bottom: 4rem;
    margin-left: 2rem;
  }
}

.d-flex {
  display: flex;
}

.mt-1 {
  margin-top: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: $primary-text-color;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-row-gap: 3rem;
  @include for-tablet-portrait-up {
    grid-template-columns: repeat(1, 1fr);
  }
}

.text-color-white {
  color: #ffffff;
}
